@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('http://fonts.cdnfonts.com/css/bim'); */

/* Placeholder Background Color */
body {
    background-color: #e1e0e0;
}

.LI-UI {
    font-family: 'LT Wave UI', sans-serif;
}

.LI-Mono {
    font-family: 'LT Wave Mono', sans-serif;
}

.ls {
    letter-spacing: 5px;
}

.tommrow-font {
    font-family: 'Tomorrow People', sans-serif;                                      
}